extends layout

block content
	#container
	#status

	//- script( src='https://cdn.socket.io/socket.io-1.2.0.js' )
	script( src='http://code.jquery.com/jquery-1.11.1.js' )
	script( src='http://d3js.org/d3.v3.min.js' )
	script( src='/javascripts/three.min.js')
	script( src='https://rawgithub.com/mrdoob/three.js/master/examples/js/renderers/CSS3DRenderer.js' )

	script( src='/javascripts/OrbitControls.js')
	script( src='//cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js')
	script( src='/javascripts/stats.min.js')

	script( src='/javascripts/lifegame.js')
	script( src='/javascripts/drawField4D.js')
